@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/dm-sans";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.67 0.16 58);
    --primary-foreground: oklch(0.99 0.02 95);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.58 0.22 27);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.88 0.15 92);
    --chart-2: oklch(0.77 0.16 70);
    --chart-3: oklch(0.67 0.16 58);
    --chart-4: oklch(0.56 0.15 49);
    --chart-5: oklch(0.47 0.12 46);
    --radius: 0.875rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.67 0.16 58);
    --sidebar-primary-foreground: oklch(0.99 0.02 95);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.77 0.16 70);
    --primary-foreground: oklch(0.28 0.07 46);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.88 0.15 92);
    --chart-2: oklch(0.77 0.16 70);
    --chart-3: oklch(0.67 0.16 58);
    --chart-4: oklch(0.56 0.15 49);
    --chart-5: oklch(0.47 0.12 46);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.77 0.16 70);
    --sidebar-primary-foreground: oklch(0.28 0.07 46);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
    --font-sans: 'DM Sans', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply font-sans bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}


.link{
  color: var(--color-blue-600);
  text-decoration: underline;
}

.link:hover{
  color: var(--color-blue-700);
}


/* md dokumentacija typography */
.md-wrapper {
  background-color: #e2e2e2;
  padding-top: 40px;
  padding-bottom: 40px;

}
.markdown-container {
border-radius: 10px;
  margin:  auto;
  width: 75%;
  padding: 40px;
  line-height: 1.6;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.markdown-container h1 { border-bottom: 1px solid #eaecef; padding-bottom: 0.3em; font-size: 2em; }
.markdown-container h2 { border-bottom: 1px solid #eaecef; padding-bottom: 0.3em; font-size: 1.5em; margin-top: 24px; }
.markdown-container ul { padding-left: 2em; list-style-type: disc; list-style-position: outside; }
.markdown-container ul ul {
  padding-left: 2em;
  list-style-type: circle;
  
}
.markdown-container li { margin-bottom: 8px; }
.markdown-container a { color: #0366d6; text-decoration: none; }
.markdown-container a:hover { text-decoration: underline; }


.cell-link:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  cursor: pointer;
}

svg {
  user-select: none;
  -webkit-user-drag: none;
}

#student-navbar-main {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*
Source - https://stackoverflow.com/a/4407335
Posted by Blowsie, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-05, License - CC BY-SA 4.0
*/

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/*klase za rich textove*/

/* Root klasa za prikaz teksta iz editora */
.iskra-rich-text h1 {
    @apply text-3xl font-bold mb-4 mt-2;
}

.iskra-rich-text h2 {
    @apply text-2xl font-semibold mb-3 mt-2;
}

.iskra-rich-text h3 {
    @apply text-xl font-semibold mb-3 mt-2;
}

.iskra-rich-text p {
    @apply mb-3;
}

.iskra-rich-text ul {
    @apply list-disc ml-6 mb-3;
}

.iskra-rich-text ol {
    @apply list-decimal ml-6 mb-3;
}

.iskra-rich-text strong {
    @apply font-bold;
}

.iskra-rich-text a {
    @apply text-blue-600 underline hover:text-blue-800;
}

.iskra-rich-text * {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal !important; /* Ovo je agresivno, ali rešava problem */
}

/* Ako želiš da kod ipak izgleda lepo, ali da ne kvari layout: */
.iskra-rich-text pre {
  white-space: pre-wrap !important;
  overflow-x: auto;
}


.draft-box {
  border: 2px dashed #cecece;
  background-color: #f5f4f4;
}

ol {
  list-style: decimal;
  padding-left: 2rem;
}


img, svg {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#tests-table {
  border-radius: calc(var(--radius) - 2px);

}
#tests-table td {
  border: 1px solid #dddddd;
}